/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    background: #00B0F0;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    box-sizing: border-box
}
html, body {
    background: #121212;
    color: #fff;
    font-family:'VWTextWebRegular', Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    line-height: 20px;   
}

header {
    background: #121212;
}

header .container {
    width: 100%;
    max-width: 825px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

header .logo-red {
    padding: 0 15px;
    display: block;    
}

header .logo-red img {
    width: 75px;
}

header h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    margin: 15px 0;
    display: block;
    padding: 5px 20px;
    /* text-transform: uppercase;   */
    font-family: 'VWHeadWebBold', Arial;   
}

header h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin: 15px 0;
    display: block;
    padding: 5px 20px 5px 20px;
    /* text-transform: uppercase; */
    font-family: 'VWHeadWebRegular', Arial;   
}

main {
    background: #00B0F0;
    clear: both;
}

main .container {
    width: 100%;
    margin: 0 auto;
    padding: 25px 25px;
}
main p {
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
    max-width: 928px;
    margin: 0 auto 20px auto;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'VWTextWebRegular', Arial;
}
main.single .container {
    padding: 0;
    display: flex;
    align-items: center;
    max-width: 1023px;
}
main.single .container a.prev {
    width: 20px;
    flex: 0 0 20px;
    /* margin-top: 100px; */
    position: relative;
    left: 10px;
    width: 20px;
    z-index: 5;
}
main.single .container a.next {
    width: 20px;
    flex: 0 0 20px; 
    /* margin-top: 100px; */
    position: relative;
    right: 10px;    
    z-index: 5;
}
main.single .container a img {
    width: 100%;
    height: auto;
}
main.single .container div img {
    width: 100%;
    height: auto;
    animation: fadein 2s;

}
main .row {
    margin-left: -25px;
    margin-right: -25px;
}
main .col {    
    display: inline-block;
    width: 100%;
    padding: 25px;
}

main .col-3{
    display: inline-block;
    width: 100%;
    padding: 25px;
    float: left;
}

main .col-2{
    display: inline-block;
    width: 100%;
    padding: 25px;
    float: left;
}


main .col-1{
    display: inline-block;
    width: 100%;
    padding: 25px;
    float: left;
}


main .col-1 img{
    width: 100%;
}


main .col img {
    border: 1px solid #fff;
    width: 100%;
}
footer {
    background: #121212;
    text-align: center;
    clear: both;   
    display: none; 
}
footer.home {
    display: block;
}
footer .container {
    width: 100%;
    max-width: 928px;
    margin: 0 auto;  
    padding: 25px;   
}
footer p {
    font-size: 21px;
    line-height: 25px; 
    margin: 0;  
}
footer p.copy {
    font-size: 16px;
    line-height: 20px;   
    text-align: justify;
    text-justify: inter-word;      
}

.clearfix{
    clear: both;
    float: none;
}

@media only screen and (min-width: 414px) {
    header .logo-text img {
        padding-top: 15px;
        width: 168px
    }
    header .logo-red img {
        width: 100px;
    }     
}

@media only screen and (min-width: 460px) {   
    header .logo-text img {
        padding-top: 20px;
        width: 224px
    }
    header .logo-red img {
        width: 100px;
    }   

    header .logo-red{
        background:#01b0f1;
    }

    /* main p{
        padding: 0;
    } */
}

@media only screen and (min-width: 768px) {   
    main .container {
        padding: 60px 25px;
    }      
    main .row {
        margin-left: -25px;
        margin-right: -25px;
    }    
    main .col {
        width: 50%;
        padding: 25px;
        float: left;
    }
    main p {
        margin: 0 auto 50px auto;
    }    
    header .container {
        max-width: 750px;
    }    
    header .logo-red {
        display: inline-block;
        float: left;
    }
    header h1 {
        padding: 5px 20px;
        display: inline-block;
        border-right: 2px solid #fff;
    }
    header h2 {
        padding: 5px 10px 5px 20px;
        display: inline-block;
    }     
    footer .container {
        padding: 40px 25px;   
    }
    main.single .container a.prev {
        width: 30px;
        flex: 0 0 30px;
        /* margin-top: 170px; */
    }
    main.single .container a.next {
        width: 30px;
        flex: 0 0 30px; 
        /* margin-top: 170px; */
    }          
    
    main .col-1 {    
        display: inline-block;
        width: 25%;
        padding: 33px 25px;
    }

    main .col-2 {    
        display: inline-block;
        width: 50%;
        padding: 25px;
    }
    
    main .col-3{
        display: inline-block;
        width: 75%;
        padding: 25px;
    }
}

@media only screen and (min-width: 1024px) {
    main .container {
        padding: 60px 25px;
    }      
    main .row {
        margin-left: -25px;
        margin-right: -25px;
    }    
    main .col {
        width: 33.33%;
        padding: 25px;
    }
    header .container {
        max-width: 800px;
    }    
    header h1 {
        padding: 5px 30px;
    }
    header h2 {
        padding: 5px 20px 5px 30px;
    }    
    main.single .container a.prev {
        width: 30px;
        flex: 0 0 30px;
        /* margin-top: 200px; */
        left: 20px;
    }
    main.single .container a.next {
        width: 30px;
        flex: 0 0 30px; 
        /* margin-top: 200px; */
        right: 20px;
    } 
    main.single .container a img {
        width: 30px;
        height: auto;
    }     
    footer .container {
        padding: 40px 25px;   
    }       
    main .col {
        width: 25%;
        padding: 10px 15px;
    } 
    .img-center50{
        display: block;
        width: 50% !important;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) {
    main .container {
        width: 1200px;
        padding: 75px 46px 100px;
    }
    main .row {
        margin-left: -46px;
        margin-right: -46px;
    }    
    main .col {
        width: 25%;
        padding: 10px 15px;
    } 
    header .container {
        max-width: 825px;
    }       
    header h1 {
        padding: 5px 40px;
    }
    header h2 {
        padding: 5px 30px 5px 40px;
    }    
    main.single .container {
        max-width: 1053px;
    }
    main.single .container a.prev {
        width: 30px;
        flex: 0 0 30px;
        /* margin-top: 220px; */
        left: 30px;
    }
    main.single .container a.next {
        width: 30px;
        flex: 0 0 30px; 
        /* margin-top: 220px; */
        right: 30px;
    } 
    main.single .container a img {
        width: 30px;
        height: auto;
    }   
    main.single .container img {
        width: 993px;
        height: 712px;
    }        
    footer .container {
        padding: 75px 25px;   
    }        
}

@font-face {
    font-family: 'VWHeadWebBold';
    src: url('fonts/VWHeadWeb-Bold.eot');
    src: url('fonts/VWHeadWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/VWHeadWeb-Bold.woff') format('woff'),
        url('fonts/VWHeadWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VWHeadWebRegular';
    src: url('fonts/VWHeadWeb-Regular.eot');
    src: url('fonts/VWHeadWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/VWHeadWeb-Regular.woff') format('woff'),
        url('fonts/VWHeadWeb-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VWHeadWebLight';
    src: url('fonts/VWHeadWeb-Light.eot');
    src: url('fonts/VWHeadWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/VWHeadWeb-Light.woff') format('woff'),
        url('fonts/VWHeadWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VWHeadWebRegular';
    src: url('fonts/VWHeadWeb-Regular.eot');
    src: url('fonts/VWHeadWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/VWHeadWeb-Regular.woff') format('woff'),
        url('fonts/VWHeadWeb-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VWTextWebBold';
    src: url('fonts/VWTextWeb-Bold.eot');
    src: url('fonts/VWTextWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/VWTextWeb-Bold.woff') format('woff'),
        url('fonts/VWTextWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VWTextWebLight';
    src: url('fonts/VWTextWeb-Light.eot');
    src: url('fonts/VWTextWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/VWTextWeb-Light.woff') format('woff'),
        url('fonts/VWTextWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VWTextWebRegular';
    src: url('fonts/VWTextWeb-Regular.eot');
    src: url('fonts/VWTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/VWTextWeb-Regular.woff') format('woff'),
        url('fonts/VWTextWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}







 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}